@model MVCApp.Models.PostulationVM
@{
    ViewBag.Title = "Formulaire de postulation";
}

<h2>Formulaire de postulation<h2>



    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Postuler</legend>

            <div class="col-10">
                @Html.LabelFor(model => model.Date)
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control datepicker", placeholder = "Entrez une date" })
                @Html.ValidationMessageFor(model => model.Date)
            </div>

            <div class="col-10">  
               @Html.DropDownListFor(model => model.StatutId, (SelectList)ViewBag.StatutList, string.Empty)  
               @Html.ValidationMessageFor(model => model.StatutId, "", new { @class = "text-danger" })  
            </div>  

            <br />
            @Html.HiddenFor(model => model.OfferId, new { Value = ViewBag.OfferId })
            @Html.HiddenFor(model => model.EmployeeId, new { Value = ViewBag.EmployeeId })
            <input class="col-10" type="submit" value="Ajouter" />
        </fieldset>
    }

